{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<h2>Connexion</h2>
<form method="POST" action="/auth">
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" placeholder="Votre email" required>
    <br><br>
    <label for="mot_de_passe">Mot de passe :</label>
    <input type="password" id="mot_de_passe" name="mot_de_passe" placeholder="Votre mot de passe" required>
    <br><br>
    <button type="submit">Se connecter</button>
</form>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}
