<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'enregistrement d'un nouveau client</title>
</head>
<body>
    <h1>Enregistrer un nouveau client</h1>
    <form action="./enregistrer_client" method="POST">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br><br>
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br><br>
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
